/* Color */

$color-bg: #010101;
$color-active: #FFBCA2;
$color-normal: #FFFFFF;
$color-answer-true: #3DDA69;
$color-error: #FF7E7E;
$color-gray: #A4A4A4;

/* Width */

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 360px;